@model Graduation_Project.Models.Entity.TBLBOOK
@{
    ViewBag.Title = "BookCall";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<h2>BookCall</h2>

@using (Html.BeginForm("UpdateBook", "Book", FormMethod.Post))
{
    <div style="margin-top:15px"></div>
    <div class=" form-group">
        <div style="margin-bottom:15px">
            <label>Book ID</label>
            @Html.TextBoxFor(b => b.ID, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Book Name</label>
            @Html.TextBoxFor(b => b.NAME, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Book Category </label>
            @Html.DropDownListFor(b => b.TBLCATEGORY.ID, (List<SelectListItem>)ViewBag.vle1, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Author</label>
            @Html.DropDownListFor(b => b.TBLAUTHOR.ID, (List<SelectListItem>)ViewBag.vle2, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Printed Year</label>
            @Html.TextBoxFor(b => b.PRINTEDYEAR, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Publisher</label>
            @Html.TextBoxFor(b => b.PUBLISHER, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Page</label>
            @Html.TextBoxFor(b => b.PAGE, new { @class = "form-control" })
        </div>
        <button class="btn btn-warning">Update Book Information</button>
    </div>
}